In [18]:
import pandas as pd

In [19]:
df=pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [22]:
df['Name'].sample(25)

105                        Mionoff, Mr. Stoytcho
869              Johnson, Master. Harold Theodor
539           Frolicher, Miss. Hedwig Margaritha
222                      Green, Mr. George Henry
410                           Sdycoff, Mr. Todor
536            Butt, Major. Archibald Willingham
770                       Lievens, Mr. Rene Aime
177                   Isham, Miss. Ann Elizabeth
136                 Newsom, Miss. Helen Monypeny
16                          Rice, Master. Eugene
229                      Lefebre, Miss. Mathilde
678      Goodwin, Mrs. Frederick (Augusta Tyler)
273                        Natsch, Mr. Charles H
95                   Shorney, Mr. Charles Joseph
120                  Hickman, Mr. Stanley George
545                 Nicholson, Mr. Arthur Ernest
449               Peuchen, Major. Arthur Godfrey
349                             Dimic, Mr. Jovan
549               Davies, Master. John Morgan Jr
864                       Gill, Mr. John William
827                        Mallet, Master. Andre
77                      Moutal, Mr. Rahamin Haim
29                           Todoroff, Mr. Lalio
89                        Celotti, Mr. Francesco
347    Davison, Mrs. Thomas Henry (Mary E Finck)
Name: Name, dtype: object

In [23]:

df['PassengerId'][pd.notna(df['PassengerId'])].sample(25)

530    531
579    580
201    202
617    618
240    241
282    283
93      94
378    379
611    612
607    608
796    797
319    320
603    604
798    799
590    591
174    175
483    484
733    734
849    850
556    557
410    411
468    469
164    165
715    716
395    396
Name: PassengerId, dtype: int64

In [24]:
df[pd.notna(df['PassengerId'])].describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [25]:
df.dropna(how='all', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [26]:
 df['Age'].fillna(df.mean()['Age'])

C:\Users\Personal\AppData\Local\Temp\ipykernel_48452\3134066530.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Age'].fillna(df.mean()['Age'])

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [27]:
df['Age'] = df['Age'].fillna(df.mean()['Age'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

C:\Users\Personal\AppData\Local\Temp\ipykernel_48452\1893680512.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Age'] = df['Age'].fillna(df.mean()['Age'])

In [28]:
df['Last_Name'] = df['Name'].str.split(',', expand=True)[0]
First_Names = df['Name'].str.split(',', expand=True)[1]
df['Title'] = First_Names.str.split('.', expand=True)[0]
df['First_Names'] = First_Names.str.split('.', expand=True)[1]

In [29]:
df[['Name', 'Title', 'Last_Name', 'First_Names']].sample(10)

,Name,Title,Last_Name,First_Names
367,"Moussa, Mrs. (Mantoura Boulos)",Mrs,Moussa,(Mantoura Boulos)
789,"Guggenheim, Mr. Benjamin",Mr,Guggenheim,Benjamin
54,"Ostby, Mr. Engelhart Cornelius",Mr,Ostby,Engelhart Cornelius
578,"Caram, Mrs. Joseph (Maria Elias)",Mrs,Caram,Joseph (Maria Elias)
230,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",Mrs,Harris,Henry Birkhardt (Irene Wallach)
265,"Reeves, Mr. David",Mr,Reeves,David
309,"Francatelli, Miss. Laura Mabel",Miss,Francatelli,Laura Mabel
574,"Rush, Mr. Alfred George John",Mr,Rush,Alfred George John
448,"Baclini, Miss. Marie Catherine",Miss,Baclini,Marie Catherine
434,"Silvey, Mr. William Baird",Mr,Silvey,William Baird

In [30]:
df['Title'].value_counts()

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Mlle              2
 Major             2
 Col               2
 the Countess      1
 Capt              1
 Ms                1
 Sir               1
 Lady              1
 Mme               1
 Don               1
 Jonkheer          1
Name: Title, dtype: int64

In [32]:
df = df.drop('Embarked', axis=1)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Last_Name,Title,First_Names
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,Braund,Mr,Owen Harris
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,Cumings,Mrs,John Bradley (Florence Briggs Thayer)
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,Heikkinen,Miss,Laina
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,Futrelle,Mrs,Jacques Heath (Lily May Peel)
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,Allen,Mr,William Henry

In [37]:
title_onehot = pd.get_dummies(df['Title'])
gender_onehot = pd.get_dummies(df['Sex'])

In [34]:
import numpy as np
y = np.array(df['Survived'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Last_Name    891 non-null    object
 12  Title        891 non-null    object
 13  First_Names  891 non-null    object
dtypes: float64(2), int64(5), object(7)
memory usage: 97.6+ KB

In [35]:
X = np.array(df[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']])

In [38]:
np.hstack([X, title_onehot, gender_onehot]).shape

(891, 24)

In [39]:
X.shape

(891, 5)

In [40]:
title_onehot.shape

(891, 17)

In [41]:
gender_onehot.shape

(891, 2)

In [42]:
5+17+2

24

In [43]:
X = np.hstack([X, title_onehot, gender_onehot])

In [44]:
y.shape

(891,)

In [45]:
from sklearn import model_selection, linear_model

In [46]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.33, random_state=42)

In [47]:
X_train.shape

(596, 24)

In [48]:
y_train.shape

(596,)

In [49]:
model = linear_model.LogisticRegression()
model.fit(X_train, y_train)
model.score(X_train, y_train)

c:\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8271812080536913

In [50]:
model.score(X_test, y_test)

0.8203389830508474

In [51]:
from sklearn import ensemble

In [52]:
rf_model = ensemble.RandomForestClassifier(
    random_state=42,
    verbose=1
)

In [53]:
rf_model.fit(X_train, y_train)
rf_model.score(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.4s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

0.9815436241610739

In [54]:
rf_model.score(X_test, y_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

0.8135593220338984

In [55]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=5,
    random_state=42,
    verbose=1
)
print(rf_model)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

RandomForestClassifier(n_estimators=5, random_state=42, verbose=1)
0.9546979865771812
0.7864406779661017

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [56]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=20,
    random_state=42,
    verbose=1
)
print(rf_model)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

RandomForestClassifier(n_estimators=20, random_state=42, verbose=1)
0.9765100671140939
0.8

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  20 out of  20 | elapsed:    0.0s finished

In [57]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    random_state=42,
    verbose=1
)
print(rf_model)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

RandomForestClassifier(random_state=42, verbose=1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.9815436241610739
0.8135593220338984

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [58]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=1000,
    random_state=42,
    verbose=1
)
print(rf_model)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

RandomForestClassifier(n_estimators=1000, random_state=42, verbose=1)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    2.2s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.9815436241610739
0.8101694915254237

[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.1s finished

In [60]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=3,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.8070469798657718
0.8169491525423729

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [61]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.9261744966442953
0.8305084745762712

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [62]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=20,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.9815436241610739
0.8135593220338984

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [63]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.5,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.9446308724832215
0.8406779661016949

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [64]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.8,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.9463087248322147
0.8338983050847457

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [65]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.8,
    min_samples_leaf=0.1,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.785234899328859
0.8067796610169492

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [66]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.8,
    min_samples_leaf=3,
    random_state=42,
    verbose=1
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.9010067114093959
0.8271186440677966

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [67]:
rf_model = ensemble.RandomForestClassifier(
    n_estimators=100,
    max_depth=10,
    max_features=0.8,
    oob_score=True,
    random_state=42
)
rf_model.fit(X_train, y_train)
print(rf_model.score(X_train, y_train))
print(rf_model.score(X_test, y_test))

0.9463087248322147
0.8338983050847457

In [68]:
from sklearn import svm
linear_svc = svm.LinearSVC(random_state=42)
nu_svc = svm.NuSVC(random_state=42)
svc = svm.SVC(random_state=42)

In [69]:
linear_svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'Linear SVC', linear_svc.score(X_train, y_train), linear_svc.score(X_test, y_test)))

Linear SVC: Training error = 0.8272, test error = 0.8068

c:\Python\Python310\lib\site-packages\sklearn\svm\_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [70]:
nu_svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'NuSVC', nu_svc.score(X_train, y_train), nu_svc.score(X_test, y_test)))

NuSVC: Training error = 0.8054, test error = 0.8102

In [71]:
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.6695, test error = 0.6678

In [72]:
svc = svm.SVC(
    kernel='linear',
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.8221, test error = 0.8407

In [73]:
svc = svm.SVC(
    kernel='poly',
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.6544, test error = 0.6339

In [74]:
svc = svm.SVC(
    kernel='sigmoid',
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.5721, test error = 0.6034

In [75]:
svc = svm.SVC(
    kernel='linear',
    C=50.0,
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.8238, test error = 0.8373

In [76]:
svc = svm.SVC(
    kernel='linear',
    class_weight='balanced',
    random_state=42
)
svc.fit(X_train, y_train)
print('{}: Training error = {:.4f}, test error = {:.4f}'.format(
    'SVC', svc.score(X_train, y_train), svc.score(X_test, y_test)))

SVC: Training error = 0.7987, test error = 0.8237

In [77]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)

In [78]:
X_train[0]

array([ 1.    , 54.    ,  0.    ,  0.    , 51.8625,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  1.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  1.    ])

In [79]:
X_train_scaled[0]

array([-1.62580285,  1.88957013, -0.46983664, -0.46399264,  0.38784185,
       -0.040996  , -0.05802589,  0.        , -0.08219949,  0.        ,
       -0.040996  ,  0.        , -0.21783404, -0.50733023, -0.05802589,
       -0.040996  ,  0.83257541, -0.38804529, -0.040996  , -0.08219949,
        0.        , -0.040996  , -0.72677722,  0.72677722])

In [80]:
svc = svm.SVC(
    kernel='linear',
    random_state=42
)
svc.fit(X_train_scaled, y_train)

X_test_scaled = scaler.transform(X_test)
print('{}: Training error = {:.5f}, test error = {:.5f}'.format(
    'SVC', svc.score(X_train_scaled, y_train), svc.score(X_test_scaled, y_test)))

SVC: Training error = 0.82215, test error = 0.84407